<div class="jumbotron">
  <h1>EVERYONE ON THE MAP GETS NOTICED!</h1>
  <p>Mobimaps is the definitive visitor map guide across North America and the UK. 3.5 million Mobimaps are printed every year - get your business on the map!</p>
  <p>Our clear and concise 3D maps help visitors from around the world "Find all the Hot Spots" in your city. Browse our online interactive maps featuring your Hot Spot location!</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<hr>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= link_to pages_advertise_path do %>
                <i class="fa fa-map"></i> GET ON THE MAP
            <% end %>
          </div>
        </div>        
    </div>
</div>
